/*font-family: AdobeInvisFont, Montserrat-Regular, Montserrat-Bold, Courier, sans-serif;*/
/*ready*/

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
}


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
    /*border: 1px greenyellow solid;*/

}

.main {
    /*position: fixed;*/
    background-attachment: fixed;

    width: 100%;
    height: 1012px;
    background-image: url('../image/Sections background/section-1(header).jpg');
    background-size: cover;
    background-position: center;
    /*border: 1px greenyellow solid;*/
}


/*HEADER */

.header-container {

    /*position: fixed;*/
    width: 100%;
    height: 121px;
    background-color: #49473f;
    opacity: 0.6;
    /*border: 1px greenyellow solid;*/
}

.header-div {
    position: relative;
    width: 1160px;
    display: flex;
    padding-top: 28px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    /*border: 1px greenyellow solid;*/

    /*justify-content:center;   !*— управляет выравниванием элементов по главной оси.*!*/
    /*align-items:center;  !*— управляет выравниванием элементов по перекрёстной оси.*!*/
    /*align-self:center;  !*— управляет выравниванием конкретного flex элемента по перекрёстной оси.*!*/
    /*align-content:center;*/

}

.logo-div {
    display: flex;
    width: 199px;
    height: 67px;

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.letter {
    position: absolute;
    left: 15px;
    width: 26px;
    height: 28px;
    color: #ffffff;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;


}

.header-menu {

    width: 683px;
    height: 67px;
    padding-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-item {
    display: inline-block;
    vertical-align: top;
    /*display: inline;*/
    float: left;
    /*margin: 0 11px;*/
    margin-right: 22px;
    line-height: 67px;
    /*border: 1px greenyellow solid;*/
}

/*LOGO*/

.logo-img {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 58px;
    height: 67px;
    background-color: #18cfab;
    color: white;
    text-underline: none;
    position: relative;

}


/*TEXT MENU*/


.slogan-white {
    padding-left: 10px;
    color: #ffffff;
    font-family: Montserrat-Regular, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 64.3px;
    /*width: 131px;*/
    /*height: 24px;*/

}

.slogan-green {
    color: #18cfab;
    font-family: Montserrat-Bold, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 64.3px;


}

/*MENU LINK*/
.menu-item-link {

    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; /* большие буквы */
    box-sizing: border-box; /* не учитывать border */
    transition: 0.3s;

}

.menu-item-link:hover { /*при наведении*/
    color: #18cfab;
}

.menu-item-link::before { /*полоска под меню при наведении миши*/
    content: ''; /*пустой div*/
    display: block; /* чтоб работало */
    width: 100%; /*чтоб на длину текста была полоса*/
    height: 2px;
    background-color: transparent;
    position: relative;
    top: 64px; /* позиционирование относительно начала div */
    transition: 0.3s; /* задержка при анимации */
}

.menu-item-link:hover::before {
    background-color: #18cfab;

}

.fa-search0 {
    width: 22px;
    height: 22px;
    color: #bbbbbb;
}

/*======MAIN==TEXT=======================================================================*/


.header-content {

    width: 769px;
    padding-top: 244px;
    text-align: center;
    /*border: 1px solid greenyellow;*/


}

.mtw {
    /* Style for "The Ham is" */

    height: 24px;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 9.53px;
    text-transform: uppercase;
    /* Text style for "The Ham is" */
    color: #ffffff;
}

.mtg {
    height: 24px;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 9.53px;
    text-transform: uppercase;
    color: #18cfab;
}


.mt-two {
    /* Style for "we are cre" */
    /*width: 769px;*/
    height: 57px;
    color: #ffffff;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 79px;
    font-weight: 700;
    line-height: 84.24px;
    text-transform: uppercase;
}

.mt-three {
    /* Style for "Just Buy A" */
    /*width: 763px;*/
    height: 32px;
    color: #d4d4d4;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 84.24px;
}

/*======Button==explore===purchase========================================*/

.div1 {
    padding-bottom: 30px;
}

.div4 {
    height: 144px;
}

.div5 {
    display: inline-flex;
}

.button-explore {
    width: 166px;
    height: 61px;
    border-radius: 5px;
    background-color: #18cfab;
    /*позиционируем по центру блока*/
    display: table-cell;
    vertical-align: middle;

}


.button-explore-link:hover .button-explore {
    background-color: #189c78;
}


.button-indent {
    width: 28px;
}

.button-purchase {
    width: 166px;
    height: 61px;
    background-color: #00cbf6;
    border-radius: 5px;
    /*позиционируем по центру блока*/
    display: table-cell;
    vertical-align: middle;
    /*border: 1px solid greenyellow;*/
}

.button-purchase-link:hover .button-purchase {
    background-color: #21b8d8;
}


.button-explore-link {
    /*width: 103px;*/
    /*height: 9px;*/
    color: #ffffff;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 31.83px;
    text-transform: uppercase;
}


.button-purchase-link {
    /*width: 115px;*/
    /*height: 9px;*/
    color: #ffffff;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 31.83px;
    text-transform: uppercase;
}

/*========SECTION==2=========================================================*/

.four-box {
    display: inline-flex;
    /*border: 1px solid greenyellow;*/
    width: 100%;
    /*height: 381px;*/
}

.main-box {
    width: 25%;
    height: 381px;
    flex-direction: column;
    display: flex;

    /* Центр по главной оси */
    justify-content: center;

    /* Центр по вторичной оси */
    align-items: center;


}

.b-black {
    background-color: #1c2a33;
    border-top: solid 7px #18cfab;
}

.b-green {
    background-color: #18cfab;
    border-top: solid 7px #ffffff;
}

.main-box-one {
    width: 58px;
    height: 97px;
    padding-bottom: 15px;
}

.main-box-two {
    width: 93px;
    height: 75px;
    padding-bottom: 15px;
}

.main-box-three {
    width: 60px;
    height: 96px;
    padding-bottom: 15px;
}

.main-box-four {
    width: 99px;
    height: 76px;
    padding-bottom: 15px;
}

.b-black p {
    height: 14px;
    color: #18cfab;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;
}

.b-green p {
    height: 14px;
    color: #ffffff;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;
}


.our-services {
    /*padding: 80px auto 95px;*/

    /* Style for "Our Servic" */
    /*width: 224px;*/
    /*height: 27px;*/
    /*margin: 0 auto;*/
    color: #4e4e4e;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    /*border: 1px solid greenyellow;*/


    /*color: #4e4e4e;*/
    /*font-size: 36px;*/
    /*font-weight: 400;*/
    padding: 82px 0 111px;
    text-transform: capitalize;
    text-align: center;
    position: relative;

}

/*создаем линию бот текстом*/
.line-underline-services::after {

    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 46%;
    top: 146px;
    background-color: rgba(24, 207, 171, 255);
}

/*создаем вторую линию под текстом*/
.line-underline-services::before {

    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 48%;
    top: 148px;
    background-color: rgba(24, 207, 171, 255);
}

/*===========our-services-menu================================================================================*/
.our-services-menu {
    display: flex;
    flex-direction: row;
}


.our-services-item {
    position: relative;
    flex-grow: 1;
    width: 17%;
    border: 1px solid #ebebeb;
    color: #717171;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 39.02px;
    transition: 0.3s;
    /*работают*/
    text-align: center;
    padding: 20px 20px;
    background: #f8fcfe;
    /*не работают*/
    /* justify-content: center; */
    /* align-items: center; */
}


.our-services-item:hover {
    background-color: #18cfab;
    color: #ffffff;
    /*border-top: 1px solid #18cfab;*/
}

.our-services-item.active {
    background-color: #18cfab;
    color: #ffffff;
    /*border-top: 1px solid #18cfab;*/
}


.our-services-item.active::after {

    /*треуголник под меню*/
    content: '';
    position: absolute;
    left: 78px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
}


/*=======answer================================================================================*/

.menu-answer {
    display: none;

}

.menu-answer.active {
    padding-top: 24px;
    padding-bottom: 103px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-answer-p {
    width: 927px;
    height: 136px;

    color: #777777;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.39px;
    /*выравниваем текст*/
    /*margin-left: 20px;*/
    text-align: justify;
}

.img-1-answer {
    width: 194px;
    height: 139px;
    background: url('../image/our-services/Layer_1.png');

}

.img-2-answer {
    width: 194px;
    height: 139px;
    background: url('../image/our-services/Layer_2.png');

}

.img-3-answer {
    width: 194px;
    height: 139px;
    background: url('../image/our-services/Layer_3.png');

}

.img-4-answer {
    width: 194px;
    height: 139px;
    background: url('../image/our-services/Layer_4.png');

}

.img-5-answer {
    width: 194px;
    height: 139px;
    background: url('../image/our-services/Layer_5.png');

}

.img-6-answer {
    width: 194px;
    height: 139px;
    background: url('../image/our-services/Layer_6.png');

}

/*==========section-purchase=================================================================================*/

.section-purchase {

    width: 100%;
    height: 474px;
    background-size: cover;
    background-position: center;
    background-image: url("../image/Sections background/section-2.jpg");
    /*позиционируем внутренний div*/
    padding-bottom: 127px;
    /*второй слой черного прозрачного*/
    background-color: #27221f;
    opacity: 0.78;
    text-align: center;
    background-blend-mode: multiply;

}

.section-purchase-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /*border: 1px solid greenyellow;*/

}

.section-purchase-div1 {

    text-align: center;
    padding-top: 126px;
    width: 1113px;
    height: 29px;
    color: #18cfab;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40.46px;
    text-transform: uppercase;

}

.section-purchase-div2 {

    width: 822px;
    height: 16px;
    color: #d8d8d8;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding-top: 55px;

}

.section-purchase-now-div {

    width: 166px;
    height: 61px;
    background-color: #00cbf6;
    border-radius: 5px;
    display: inline-block;

}

.button-purchase-now:hover .section-purchase-now-div {
    background-color: #21b8d8;
}

.section-purchase-now {

    padding-top: 17px;
}

.button-purchase-now {
    padding-top: 80px;
    width: 115px;
    height: 9px;
    color: #ffffff;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 31.83px;
    text-transform: uppercase;
}


/*=======amazing=work=section==================================================================================*/

.amazing-work-container {
    background-color: #f8fcfe;
}


.amazing-work {
    color: #4e4e4e;
    width: 100%;
    font-family: Montserrat-Regular, Montserrat-Bold, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;

    padding: 82px 0 111px;
    /*text-transform: capitalize;*/
    text-align: center;
    position: relative;


}

/*создаем линию бот текстом*/
.line-underline-work::after {

    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 46%;
    top: 145px;
    background-color: rgba(24, 207, 171, 255);
}

/*создаем вторую линию под текстом*/
.line-underline-work::before {

    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 48%;
    top: 148px;
    background-color: rgba(24, 207, 171, 255);
}


.amazing-work-menu {
    width: 609px;
    /*выравнивание*/
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*шрифт*/
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    color: #717171;
    font-weight: 400;

}

.amazing-work-item {
    height: 58px;

    /*flex параметры*/
    flex-basis: 133px;
    /*шрифт*/
    font-family: Montserrat-Regular, sans-serif;
    font-weight: 400;
    color: #717171;
    font-size: 14px;
    line-height: 42px;
    padding: 10px 10px;

    /*задержка анимация*/
    transition: 0.3s;

    border: 1px solid #ebebeb;
    background-color: #ffffff;
}

.amazing-work-item1 {

    height: 58px;

    /*flex параметры*/
    flex-basis: 75px;
    /*align-self: center;*/
}

.amazing-work-item:hover {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.amazing-work-item.active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}


/*==========work-gallery=================================================================================*/
/*<!--===========================FILTER===========================================-->*/

.work-gallery {
    padding-top: 71px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;

}

.work-gallery-item {
    /*width: 288px;*/
    /*height: 208px;*/
    flex-basis: 25%;
    position: relative;


}

.work-gallery-item-hover {
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    text-align: center;
    width: 287px;
    height: 208px;
    border-top: 3px solid #18cfab;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.work-gallery-item-hover:hover {
    opacity: 1;
}

.amazing-work-img {

    height: 206px;
    width: 284px;
}

.work-gallery-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    margin-bottom: 15px;
}

.link {
    box-sizing: border-box;
    width: 42px;
    height: 40px;
    display: block;
    text-align: center;
    border: 1px solid #18cfab;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 14px;
    color: #18cfab;
    position: relative;
}


.work-gallery-icon {
    position: absolute;
    top: 13px;
    left: 13px;
    color: #18cfab;
}


.link:hover {
    background: #18cfab;
}

.link:hover .work-gallery-icon {
    color: #fff;
}

.amazing-work-text1 {

    width: 100%;
    color: #18cfab;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24.87px;
    text-transform: uppercase;
}

.amazing-work-text2 {
    padding-top: 13px;

    width: 100%;
    color: #8a8a8a;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24.87px;
}

/*======================button======================*/


.amazing-work-load-more {
    width: 100%;
    height: 253px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amazing-work-button-a:hover .amazing-work-button {
    background-color: #189c78;
}

.amazing-work-button {
    background-color: #18cfab;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 165px;
    height: 60px;
    border-radius: 5px;
    color: #ffffff;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
}

/*========breaking-news-container===================================================================================*/

.breaking-news-container {
    /*border: #1c2a33 solid 1px;*/
}

.breaking-news-h2 {
    color: #4e4e4e;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;

    padding: 82px 0 111px;
    text-transform: capitalize;
    text-align: center;
    position: relative;


}

/*создаем линию бот текстом*/
.line-underline-news::after {

    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 46%;
    top: 145px;
    background-color: rgba(24, 207, 171, 255);
}

/*создаем вторую линию под текстом*/
.line-underline-news::before {

    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 48%;
    top: 148px;
    background-color: rgba(24, 207, 171, 255);
}

/*===========================================================================================*/
.breaking-news-content {

    width: 100%;
    padding-bottom: 130px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;

}

.breaking-news-item {
    margin: 13px;
    position: relative;
    border: #ebebeb solid 1px;
    width: 263px;
    height: 279px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.breaking-news-img {
    width: 263px;
    height: 208px;
}

.braking-news-date {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    position: absolute;
    top: 0;
    right: 0;
}

.breaking-news-date-p {
    /* Style for "12 Feb" */
    width: 28px;
    height: 37px;
    color: #ffffff;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.33px;
    text-align: center;
}

.breaking-news-item:hover .breaking-news-text1 {
    color: #18cfab;
}

.breaking-news-item:hover .braking-news-date {
    background-color: #18cfab;
}

.breaking-news-text-div {
    background-color: #f8fcfe;
}

.breaking-news-text1 {
    padding-top: 14px;
    padding-left: 16px;
    color: #717171;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.breaking-news-text2 {
    padding-top: 14px;
    padding-left: 20px;
    color: #777777;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    font-weight: 300;
}


/*======slider=====================================================================================*/


.slider {
    background-image: url("../image/Sections background/section-3.jpg");
    height: 852px;
    width: 100%;
    opacity: 0.75;
    background-color: black;
}


.slider-h {
    /*padding-top: 99px;*/
    width: 100%;
    color: #ffffff;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 36px;
    font-weight: 400;
    position: relative;
}

.about-theham {

    color: #ffffff;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 36px;
    font-weight: 400;

    text-align: center;
    position: relative;
    padding-top: 99px;
    padding-bottom: 174px;

    /*color: #ffffff;*/
    /*font-size: 36px;*/

}

/*создаем линию бот текстом*/

.line-underline-slider::after {
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 46%;
    top: 165px;
    background-color: rgba(24, 207, 171, 255);
}

/*создаем вторую линию под текстом*/
.line-underline-slider::before {

    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 48%;
    top: 169px;
    background-color: rgba(24, 207, 171, 255);
}

/*кавычки*/
.quotes {
    position: absolute;
    top: 238px;
    left: 557px;
}

.slider-people-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    /*padding-top: 212px;*/

}


.slider-p {
    text-align: center;

    color: #bbbbbb;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;

}


.slider-name {

    margin-top: 43px;
    text-align: center;

    font-family: Montserrat-Bold, sans-serif;
    height: 42px;
    font-size: 16px;
    line-height: 27px;
    color: #18cfab;
    font-weight: 700;
    text-transform: uppercase;

}

.position-employee {
    text-align: center;

    font-family: Montserrat-Regular, sans-serif;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    padding-bottom: 27px;

}

.focus-item {
    margin: 0 auto;
    padding-bottom: 104px;
}

.focus-img {
    width: 143px;
    height: 143px;
    border: 3px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 12px rgba(24, 207, 171, 0.2);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}

/*нижний flex стрелки + фотки*/
.slider-employee-container {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*padding-bottom: 104px;*/
    padding-top: 41px;

}

/*нижний flex фотки*/
.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 352px;

}


.employee-img-1 {
    background-image: url("../image/slider/1.png");
}

.employee-img-2 {
    background-image: url("../image/slider/2.png");
}

.employee-img-3 {
    background-image: url("../image/slider/3.png");
}

.employee-img-4 {
    background-image: url("../image/slider/4.png");
}


.slider-img-all {
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 60px;
    height: 60px;
    box-sizing: content-box;
    border-radius: 50%;
    background-size: 105%;
    background-position: center;
    border: 2px solid #134b45;
    box-shadow: 0px 0px 0px 5px rgba(24, 207, 171, 0.27);
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

/*поднимаем выбранную фотку на 10 px*/
.slider-img-all.active {
    bottom: 10px;
    border-color: #18cfab;
}

/*ободок hover*/
.slider-img-all:hover {
    border-color: #18cfab;
}

.slider-arrow {
    display: inline-block;
    padding-bottom: 9px;
    width: 31px;
    height: 31px;
    font-size: 18px;
    color: #bbbbbb;
    border: 2px solid #bbbbbb;
    text-align: center;
    transition: 0.3s;
    margin-right: 34px;
    margin-left: 34px;
    margin-bottom: 14px;

}

.slider-arrow:hover {
    background-color: #18cfab;
    border-color: #18cfab;
    color: white;
}

/*==========slider=================================================================================*/


.quates {
    padding-top: 105px;
    color: #18cfab;
    /*text-align: center;*/
    margin-bottom: 43px;
}

.people-say-text {
    text-align: center;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    box-sizing: content-box;
}

.name-people-say-block {
    padding-top: 43px;
    text-align: center;
    font-size: 13px;
    line-height: 27px;
    color: #18cfab;
    font-weight: 700;
    text-transform: uppercase;
}


/*======copyright=====================================================================================*/

.copyright-container {

    height: 108px;
    width: 100%;
    background-color: #22353f;
    text-align: center;
    padding-top: 47px;
}

.copyright {
    color: #aeaeae;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.copyright-theham {
    width: 322px;
    height: 14px;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #18cfab;
}


/*===========================================================================================*/


/*transform: translate(-50%, -50%);    центрирует по двум осям  */

/*=====================================*/
/*второй способ выравнивания по центру div*/
/*.button-explore:before {*/
/*content: "";*/
/*display: inline-block;*/
/*min-height: inherit;*/
/*height: 100%;*/
/*vertical-align: middle;*/
/*}*/


/*====центрировать текст в div=================================*/
/*text-align: center;*/
/*padding-top: 20px;*/

/*====центрировать текст в div второй способ=================================*/

/*display: table-cell;*/
/*vertical-align: middle;*/

/*====центрировать текст в div второй способ=================================*/